<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="focus-ui-datepicker-dropdown-wrapper">
        <div class="focus-ui-calendar">
            <div class="andes-card andes-card--flat andes-card--padding-0" id=":r46:">
                <div class="andes-card__content"><div class="focus-ui-calendar--container">
                    <div class="date-container date-container--only-datepicker">
                        <table class="focus-ui-datepicker__content">
                            <thead>
                                <tr>
                                    <th colspan="5" class="focus-ui-datepicker__content__title">
                                        <p class="focus-ui-datepicker__content__month-year">Dezembro <span class="year">2023</span></p>
                                    </th>
                                    <th class="focus-ui-datepicker__content__month-selector focus-ui-datepicker__content__month-selector--previous">
                                        <div>
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" class="chevron-back">
                                                    <path fill="#CCCCCC" fill-rule="nonzero" d="M8.648 1.705L7.23.295.59 6.969l6.701 6.736 1.418-1.41L3.41 6.969z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="focus-ui-datepicker__content__month-selector focus-ui-datepicker__content__month-selector--next">
                                        <div>
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" class="chevron-forward">
                                                    <path fill="#CCCCCC" fill-rule="nonzero" d="M8.648 1.705L7.23.295.59 6.969l6.701 6.736 1.418-1.41L3.41 6.969z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="focus-ui-datepicker__content__week-days">
                                    <td class="day-box">
                                        <div class="day">DOM</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">SEG</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">TER</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">QUA</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">QUI</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">SEX</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">SAB</div>
                                    </td>
                                </tr>
                                <tr class="focus-ui-datepicker__content__week">
                                    <td class="day-box">
                                        <div class="day">26</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">27</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">28</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">29</div>
                                    </td><td class="day-box">
                                        <div class="day">30</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">1</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">2</div>
                                    </td>
                                </tr>
                                <tr class="focus-ui-datepicker__content__week">
                                    <td class="day-box">
                                        <div class="day">3</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">4</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">5</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">6</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">7</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">8</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">9</div>
                                    </td>
                                </tr>
                                <tr class="focus-ui-datepicker__content__week">
                                    <td class="day-box">
                                        <div class="day">10</div>
                                    </td>
                                    <td class="day-box day-box--start">
                                        <div class="day day--selected">11</div>
                                    </td>
                                    <td class="day-box day-box--between">
                                        <div class="day">12</div>
                                    </td>
                                    <td class="day-box day-box--between">
                                        <div class="day">13</div>
                                    </td>
                                    <td class="day-box day-box--between">
                                        <div class="day">14</div>
                                    </td>
                                    <td class="day-box day-box--between">
                                        <div class="day">15</div>
                                    </td>
                                    <td class="day-box day-box--between">
                                        <div class="day">16</div>
                                    </td>
                                </tr>
                                <tr class="focus-ui-datepicker__content__week">
                                    <td class="day-box day-box--end">
                                        <div class="day day--selected">17</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day day--current">18</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">19</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">20</div>
                                    </td><td class="day-box">
                                        <div class="day">21</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">22</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">23</div>
                                    </td>
                                </tr>
                                <tr class="focus-ui-datepicker__content__week">
                                    <td class="day-box">
                                        <div class="day">24</div>
                                    </td><td class="day-box">
                                        <div class="day">25</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">26</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">27</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">28</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">29</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">30</div>
                                    </td>
                                </tr>
                                <tr class="focus-ui-datepicker__content__week">
                                    <td class="day-box">
                                        <div class="day">31</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">1</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">2</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">3</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">4</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">5</div>
                                    </td>
                                    <td class="day-box">
                                        <div class="day">6</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="apply-container apply-container--only-datepicker">
                    <div class="apply-button-container apply-button-container--only-datepicker">
                        <button type="button" class="andes-button andes-button--large andes-button--loud" id=":r47:">
                            <span class="andes-button__content">Aplicar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>